<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8">
		<title>Használt Autó Fotózás | Add el gyorsabban, több pénzért, kevesebb macerával.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="12 profi kép aznapi kézbesítéssel. Hirdetéshez optimalizált fotók, gyorsabb eladás, kevesebb alkudozás.">
		<link rel="canonical" href="https://hasznaltautofotozas.hu/">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/fontawesome.css">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<!-- OpenGraph -->
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Használt Autó Fotózás">
		<meta property="og:url" content="https://hasznaltautofotozas.hu/">
		<meta property="og:locale" content="hu_HU">
		<meta property="og:title" content="Használt Autó Fotózás | Add el gyorsabban, több pénzért, kevesebb macerával.">
		<meta property="og:description" content="12 profi kép aznapi kézbesítéssel. Hirdetéshez optimalizált fotók, gyorsabb eladás, kevesebb alkudozás.">
		<meta property="og:image" content="https://hasznaltautofotozas.hu/assets/images/og_image.webp">

		<!-- Twitter/X Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@szabokaphoto">
		<meta name="twitter:creator" content="@szabokaphoto">
		<meta name="twitter:title" content="Használt Autó Fotózás | Add el gyorsabban, több pénzért, kevesebb macerával.">
		<meta name="twitter:description" content="12 profi kép aznapi kézbesítéssel. Hirdetéshez optimalizált fotók, gyorsabb eladás, kevesebb alkudozás.">
		<meta name="twitter:image" content="https://hasznaltautofotozas.hu/assets/images/og_image.webp">
		<meta name="twitter:image:alt" content="Használt Autó Fotózás | Add el gyorsabban, több pénzért, kevesebb macerával.">

		<!-- Ahrefs Analytics -->
		<script src="https://analytics.ahrefs.com/analytics.js" data-key="3fFNg02C3K8g1RxCZId+tQ" async></script>
	</head>

	<body>
		{{ content }}
	</body>
</html>
