---
permalink: "/robots.txt"
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /assets/images/before/

Allow: /assets/images/
Allow: /assets/images/gallery/
Allow: /assets/images/after/

Sitemap: https://hasznaltautofotozas.hu/sitemap.xml
